CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.so
*.o
*.pc
server/gdial-server
server/plat/Makefile
server/Makefile
oe-logs-xdialserver
oe-workdir-xdialserver
oe-logs-lib32-xdialserver
oe-workdir-lib32-xdialserver

