[Unit]
Description=Service to start/stop xdialserver
Wants=network-online.target
After=tr69hostif.service virtual-wifi-iface.service virtual-moca-iface.service

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/lib/:/usr/lib/:/usr/local/lib/:/usr/share/xdial/"
ExecStart=/bin/sh /usr/share/xdial/startXdial.sh
Restart=always

[Install]
WantedBy=multi-user.target
